.header .logoName{
    font-family: 'IranNastaliq';
    font-size:7rem;
    text-align: center;
}
.header .ButtonFilter li button{
background-color: #000;
color:#fff;
font-family: vazirmatn;
padding:0.6em 1em;
margin: 0.3em;
border-radius: 10px;
border: #fff solid 1px;
cursor: pointer;
}
