.header{
    background-image: url(../pic/Untitled-1.jpg);
    background-repeat: no-repeat;
    background-size:contain;
}
.header .text-logo{
    position: relative;
}
.header .text-logo .logoName{
    font-family: 'IranNastaliq';
    font-size:6.3rem;
    text-align: center;
    padding-top: 0.2em;
    color:transparent;
}
.header .text-logo .shadow{
    text-shadow:  #b6a932cc 0px 0px 3px;
}
.header .text-logo .gift{
    position: absolute;
    top:0;
    right:0;
    z-index: 1;
    width:100%;
    background-image: url(../pic/Fire\ GIF\ -\ Fire\ -\ Discover\ &\ Share\ GIFs.gif);
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
}
.header .ButtonFilter li button{
background-color: #000;
color:#fff;
font-family: vazirmatn;
padding:0.6em 1em;
margin: 1em 0.3em;
border-radius: 10px;
border: #fff solid 1px;
cursor: pointer;
}
.header .ButtonFilter li button:hover{
    background-color: #f07503a4;
}
#left{
    display:none;
    align-items: center;
}
#right{
    display:none;
    align-items: center;
}
.item .image-menu img{
    width: 100%;
    height:auto;
}
.list{
flex-basis: 100%;
}
.item ul li img{
    width:100px;
    height:100px;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: #e77407 solid 5px;
}
.item ul li {
flex-wrap: nowrap;

}
.item ul li .text{
    flex-basis:100% ;
}
.item ul li h3{
    font-size:1.8rem;
    font-weight: bold;
    padding: 1em 0;
    color: #e77407;
}
.item ul li h2{
    text-align: end;
    color:#afa089;
}
.item ul li p{
    font-size:1.2rem;
    padding-bottom: 1em;
    min-height: 50px;
}
footer {
    font-size:1.5rem;
    background-color: rgb(19, 18, 18);
    line-height: 2;
    padding: 3em;
    margin-top: 3em;
    background-image: url(../pic/Untitled-2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
footer .container{
    justify-content: space-between;
}
footer .location{
    text-align: center;
}
footer .location a:hover{
    color:#e77407
}
footer .location .icon{
    font-size:3rem;
}
footer .social ul{
    gap:30px;
    font-size:2rem
}
footer .social a:hover{
    color:#e77407
}
