* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
a {
  color: #c0c0c0;
}
html {
  font-size: 10px;
}
body {
  font-family: vazirmatn;
  direction: rtl;
  background-color: #151515;
  color: #fff;
}
@font-face {
  font-family: vazirmatn;
  src: url("../font/vazir/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.container{
    max-width:1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.col-1 {
  flex-basis: 50%;
  padding:1em
}
