*{
box-sizing:border-box;
padding:0;
margin:0;
text-decoration:none;
}
ul,li{
list-style:none;
}
a{
color:#c0c0c0;
}
html{
font-size:10px;
}
body{
direction:rtl;
background-color:#151515;
font-family:iran-sanse;
color:#fff;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}